@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200&display=swap');
html,
body {
	margin: 0;
	padding: 0;
    height: 100%;
	font-family: 'Sono', sans-serif;
	color: var(--font-color);
}
:root{
	--primary-color: #93A57D;
	--secondary-color: #fff;
	--font-color: #000;
}
.dark-theme{
	--primary-color: rgb(0, 0, 0);
	--secondary-color: #000;
	--font-color: #00ff0d;
}
.left-block {
	float: left;
	width: 30%;
	height: 100%;
	background-color: var(--secondary-color);
}

.right-block {
	float: right;
	width: 70%;
	height: 100%;
	background-color: var(--primary-color);
}
.bulb{
    float: left;
    margin-left: 3%;
    margin-top: -10px;
}


.bulb:active {
    transform: translateY(10px);
}

.Intro{
    font-size: 25px;
    width: 70%;
    margin-top: 50%;
    margin-left: 10%;
}