html,
body {
	margin: 0;
	padding: 0;
    height: 100%;
}

.left-block {
	float: left;
	width: 30%;
	height: 100%;
	background-color: #fff;
}

.right-block {
	float: right;
	width: 70%;
	height: 100%;
	background-color: #93A57D;
}
.bulb{
    float: left;
    margin-left: 2%;
    margin-top: -10px;
}


.bulb:active {
    transform: translateY(10px);
}

.Intro{
    font-size: 30px;
    width: 70%;
    margin-top: 50%;
    margin-left: 10%;
}
